@{
    ViewData["Title"] = "Home Page";
}

<div  class="text-center">
    <h1>Our amazing tours</h1>
    <p>lorem ipsum dolor</p>
    <div class="py-3">
        <input class="w-50 rounded p-2" type="text" id="js-search" placeholder="Cerca qui all'interno di un titolo o una descrizione pacchetto" />
    </div>
    <div class="container py-4">
        <div class="row">
        </div>
    </div>
</div>

<script type="text/javascript">
    
    const searchBar = document.querySelector("#js-search");
    const body = document.querySelector(".row")
    body.addEventListener("onload",fetchAll())
    searchBar.addEventListener("keyup", fetchAll)
    //funzoine fetch dei risultati
    function fetchAll(){
        axios.get("/api/home/getall",
        {
            params:{
                search :searchBar.value
            }
        }
        )
        .then(res => {
            console.log(res)
            let data = res.data
            body.innerHTML = ""
            data.forEach(e => {
                body.innerHTML+=
                 ` <div class="col-4">
                        <a class="text-decoration-none" href="Home/Detail/${e.id}">
                        <div class="card bg-light bg-gradient text-center text-primary border rounded-xl border-succes">
                            <img loading="lazy" height="300" src="${e.imgSource}" />
                            <h3 class="py-2 text-uppercase">${e.name}</h3>
                            <p>${e.description}</p>
                            <h4>${e.category.name}</h4>
                            <hr />
                            <small> ${e.dutation} giorni / ${[...e.destinations].length} destinazioni</small>
                            <p><strong>${e.price}</strong> $/persona</p>
                        </div>
                        </a>
                    </div>`
            })
        })
        .catch(err => console.log(err))
    }
</script>
